In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('cars_advanced.csv')
df

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0L,petrol,25000.0,18000.0,First
2,3,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
4,5,BMW,3 Series,2016,2.0L,diesel,70000.0,NaN,Third
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.0,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.0,35000.0,First
7,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.0,Second
8,9,Audi,A4,2019,2.0L,Diesel,30000.0,27000.0,Second
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.0,third
10,11,Honda,Civic,2020,2.0L,Petrol,25000.0,18000.0,First
11,12,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
12,13,NaN,Accord,2018,2.4L,Petrol,45000.0,19000.0,First
13,14,Toyota,Camry,2015,2.5L,Petrol,NaN,14000.0,Second
14,15,BMW,3 series,2016,2.0L,Diesel,70000.0,20000.0,third

In [12]:
df = df.dropna(subset=['Brand', 'Price (USD)'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, 0 to 14
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Car           13 non-null     int64
 1   Brand         13 non-null     object
 2   Model         13 non-null     object
 3   Year          13 non-null     int64
 4   Engine Size   12 non-null     object
 5   Fuel Type     13 non-null     object
 6   Mileage (km)  12 non-null     float64
 7   Price (USD)   13 non-null     float64
 8   Owner Type    13 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 1.0+ KB

In [15]:
# df.rename(columns={'Price (USD)' : 'Price'}, inplace=True)
df = df.rename(columns={'Price (USD)' : 'Price'})
df

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price,Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0L,petrol,25000.0,18000.0,First
2,3,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.0,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.0,35000.0,First
7,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.0,Second
8,9,Audi,A4,2019,2.0L,Diesel,30000.0,27000.0,Second
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.0,third
14,15,BMW,3 series,2016,2.0L,Diesel,70000.0,20000.0,third

In [14]:
df = df.drop_duplicates(subset=['Brand'])
df

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price,Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0L,petrol,25000.0,18000.0,First
2,3,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.0,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.0,35000.0,First
7,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.0,Second
8,9,Audi,A4,2019,2.0L,Diesel,30000.0,27000.0,Second
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.0,third
14,15,BMW,3 series,2016,2.0L,Diesel,70000.0,20000.0,third